.myskills {
  display: flex;
  flex-wrap: wrap;
}

.aboutme__skills-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 1rem;
}

.aboutme__skills-item div {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fef4f5;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px #46364a;
}

.aboutme__skills-item img {
  width: 50%;
  height: 50%;
}

.aboutme__skills-item p {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
}
