.app__header {
  flex: 1;
  width: 100%;
}

.app__header-img {
  flex: 1;
  min-height: 100vh;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;

  img {
    width: 40%;
    object-fit: contain;
    z-index: 1;
  }
}
