.app__navbar {
  width: 15%;

  .item-link {
    text-decoration: none;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    transition: all 0.5s ease-out !important;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
  }
  li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &:hover {
      opacity: 0.5;
    }
    .icon {
      color: #6b7688;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    p {
      text-transform: uppercase;
      font-weight: 600;
      text-decoration: none;
      color: #6b7688;
    }
  }
}
